<div class='contents-wrapper'>
  <div class="contents">
    <div class="intro-sec">
      <div class="intro-sec-photo">
        <%= image_pack_tag 'tettou.png', class: 'intro-sec-photo-img', alt: '鉄塔の画像' %>
      </div>
      <div class="intro-sec-column">
        <div class="intro-sec-column-wrap">
          <div class="intro-sec-column-wrap-ttl">
            <h2>About</h2>
          </div>
          <div class="intro-sec-column-wrap-text">
            <p>What is Unfowld?</p>
          </div>
        </div>
      </div>
    </div>
    <section class="about-cont">
      <div class="about-cont-wrap">
        <h2>About Unfowld</h2>
        <p>Unfowldは、ファッションを扱う学生クリエイティブチームです。</p>
        <p>Unfowld（アンフォールド）は、2018年4月に明治大学生のファッションサークルとして始まりました。</p>
        <p>「ファッションの敷居を下げる」というテーマを掲げ、現在は複数のメディア事業やイベントの開催、映像制作やプロモーションなど多岐にわたる活動を展開しています。</p>
        <p>現在は明治大学生をはじめとする全国の学生約70名が在籍。モデルやカメラマン、デザイナー、映像クリエイター、エンジニアなど多岐にわたるジャンルで活躍しています。</p>
      </div>
    </section>
  </div>
</div>
