<div class='contents-wrapper'>
  <div class="contents">
    <div class="intro-sec">
      <div class="intro-sec-photo">
        <%= image_pack_tag 'tettou.png', class: 'intro-sec-photo-img', alt: '鉄塔の画像' %>
      </div>
      <div class="intro-sec-column">
        <div class="intro-sec-column-wrap">
          <div class="intro-sec-column-wrap-ttl">
            <h2>About</h2>
          </div>
          <div class="intro-sec-column-wrap-text">
            <p>What is Unfowld?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
