<div class='contents'>
  <h1 class='contents-title'>About</h1>
  <div class="contents-collectionbox">
    <%= image_pack_tag 'testimg.png', class: 'contents-collectionbox-image' %>
    <div class="contents-collectionbox-text">
      <h2 class="contents-collectionbox-text-title">名前
        <p class="contents-collectionbox-text-title-detail">役職</p>
      </h2>
      <p class="contents-collectionbox-text-body">
        自己紹介
      </p>
    </div>
  </div>
  <div class="contents-reversecollectionbox">
    <%= image_pack_tag 'testimg.png', class: 'contents-collectionbox-image' %>
    <div class="contents-collectionbox-text">
      <h2 class="contents-collectionbox-text-title">名前</h2>
      <p class="contents-collectionbox-text-body">
        自己紹介
      </p>
    </div>
  </div>
</div>
