<div class="content">
  <i>
    User name : <%= @user.name %><br>
    Mail address :<%= @user.email %>
  </i>
  <section class="micropost_form">
    <%= render partial: 'microposts/micropost',
               collection: @microposts,
               as: 'micropost'%>
  </section>
</div>
