<div class="content">
  <i>
    User name : <%= @user.name %><br>
    Mail address :<%= @user.email %>
  </i>
  <section class="article_form">
    <%= render partial: 'articles/article',
               collection: @articles,
               as: 'article'%>
  </section>
</div>
