<%= form_with model:@micropost do |form| %>
  <div class="field">
    <%= form.text_area :title, placeholder: "title" %>
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>
