
  <div class="intro-sec">
    <div class="intro-sec-photo">
      <%= image_pack_tag 'kousoku.png', class: 'intro-sec-photo-img', alt: '高速の画像' %>
    </div>
    <div class="intro-sec-column">
      <div class="intro-sec-column-wrap">
        <div class="intro-sec-column-wrap-ttl">
          <h2>Events</h2>
        </div>
        <div class="intro-sec-column-wrap-text">
          <p>Events archives organized by Unfowld</p>
        </div>
      </div>
    </div>
  </div>
<div class='articles'>
  <div class='articles-list'>
    <%= render partial: 'events/partials/window',
              collection: @events,
              as: 'event' %>
    <%= paginate @events %>
  </div>
  <div class='articles-sidebar'>
    <%= render partial: 'events/partials/sidebar' %>
  </div>
</div>
