/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'static_pages.scss';
@import 'sessions.scss';
@import 'articles.scss';
@import 'actiontext.scss';
@import 'users.scss';
@import 'events.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.main-header {
  @include pc {
    height: 600px;

    &-logo {
      float: left;
      width: 180px;
      height: 67.28px;
      padding-top: 120px;
      padding-left: 130px;
    }

    &-line,
    &-shown,
    &-unshown {
      display: none;
    }

    #nav-content {
      height: 100%;
    }

    &-contents {
      height: 380px;
      list-style-type: none;
      font-size: 16px;
      display: flex;
      flex-flow: column-reverse;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 75px;

      &-top {
        margin-top: 60px;
        display: flex;
      }

      &-bottom {
        margin-top: 100px;
        display: flex;
      }

      > li {
        margin: 25px 0;
      }
    }

    &-item {
      text-decoration: none;
      color: #000000;
      padding: 20px;
      margin-right: 22px;
      letter-spacing: 2.5px;
    }
  }
  @include sp {
    height: 50px;
    position: relative;

    &-logo {
      float: left;
      height: auto;
      max-height: 100%;
      padding-top: 5px;
      padding-left: 5px;
    }
    //チェックボックス等は非表示に
    &-unshown {
      display: none;
    }
    //アイコンのスペース
    #nav-open {
      font-size: 20px;
      float: right;
      margin: 10px;
    }
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;
      /*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;
      /*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      /*最前面に*/
      width: 50%;
      /*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 330px;
      /*最大幅（調整してください）*/
      height: 100%;
      background: #fff;
      /*背景色*/
      transition: 0.3s ease-in-out;
      /*滑らかに表示*/
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
      /*右に隠しておく*/
    }
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;
      /*カバーを表示*/
      opacity: 0.5;
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      /*中身を表示*/
      box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

    &-contents {
      padding: 0;
      list-style-type: none;
      font-size: 25px;
      text-align: center;

      &-bottom,
      &-top {
        text-align: center;

        li {
          margin: 24px 0;
        }
      }
    }

    &-item {
      text-decoration: none;
      color: #000000;
    }
  }
}

.footer {
  @include pc {
    margin: 300px 100px 0;
    clear: left;
    &-links {
      display: flex;
      justify-content: space-between;

      &-list {
        list-style: none;
        width: 50%;

        &-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 30px;
          margin-bottom: 120px;
          width: 80%;
        }

        &-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 40%;
          margin: 30px;
          margin-bottom: 60px;
        }

        &-item {
          color: #000000;
          text-decoration: none;
          font-weight: lighter;
          font-size: 17px;
        }
      }

      &-sns {
        display: flex;
        justify-content: space-between;
        margin: 5px;
        width: 18%;
        align-items: center;
        font-size: 26px;
        color: #000000;

        a {
          text-decoration: none;
          color: #000000;
        }
      }
    }

    &-copyright {
      margin: 30px;
      font-size: 5px;
    }
  }
  @include sp {
    margin-top: 30px;

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-list {
        list-style: none;
        padding: 0;

        &-top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px;

          li {
            margin-top: 7px;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px;

          li {
            margin-top: 7px;
          }
        }

        &-item {
          color: #000000;
          text-decoration: none;
          font-weight: thin;
          font-size: 25px;
        }
      }

      &-sns {
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        margin: 20px;
        width: 30%;
        align-items: center;
        font-size: 30px;
        color: #000000;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    &-copyright {
      margin: 20px;
      font-size: 5px;
    }
  }
}

.flash-success {
  background-color: #7fffd4;
  text-align: center;
  border-radius: 10px;
}

.flash-error {
  background-color: red;
  text-align: center;
  border-radius: 10px;
}
