/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'static_pages.scss';
@import 'sessions.scss';
@import 'articles.scss';
@import 'actiontext.scss';
@import 'users.scss';
@import 'events.scss';
@import 'members.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~sanitize.css';
// todo: 以下二つが読み込めない
// @import '~sanitize.css/forms.css';
// @import '~sanitize.css/typography.css';
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

// common css //

html {
  font-size: 62.5%; // 10px
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 1.0rem;
}

a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}

// css of header

.main-header {
  @include pc {
    margin: 0 1%;
    height: 52px;
    position: relative;

    &-logo {
      float: left;
      height: auto;
      max-height: 100%;
      margin-left: 5px;
    }
    &-shown {
      vertical-align: middle;
      &-lead {
        margin: 0 auto;
      }
    }
    //チェックボックス等は非表示に
    &-unshown {
      display: none;
    }
    //アイコンのスペース
    #nav-open {
      font-size: 20px;
      float: right;
      margin: 1%;
      text-decoration: underline;
    }
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;
      /*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;
      /*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      border-left: solid 2px #000;
      top: 0;
      right: 0;
      z-index: 9999;
      /*最前面に*/
      width: 50%;
      /*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 620px;
      /*最大幅（調整してください）*/
      height: 100%;
      background: #fff;
      /*背景色*/
      transition: 0.3s ease-in-out;
      /*滑らかに表示*/
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
      /*右に隠しておく*/
    }
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;
      /*カバーを表示*/
      opacity: 0.5;
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      /*中身を表示*/
      box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

    &-contents {
      margin: 80px;
      padding: 0;
      list-style-type: none;
      &-bottom,
      &-top {
        margin-bottom: 60px;
        li {
          margin: 24px 0;
          font-size: 1.2rem;
          &:first-child {
            margin-bottom: 10px;
            font-size: 1.6rem;
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
      &-icon {
        font-size: 1.6rem;
        .fa-twitter {
          margin-right: 24px;
        }
      }
    }

    &-item {
      text-decoration: none;
      color: #000000;
    }

  }
  @include sp {
    height: 50px;
    position: relative;

    &-logo {
      float: left;
      height: auto;
      max-height: 100%;
      padding-top: 5px;
      padding-left: 5px;
    }
    //チェックボックス等は非表示に
    &-unshown {
      display: none;
    }
    //アイコンのスペース
    #nav-open {
      font-size: 20px;
      float: right;
      margin: 10px;
    }
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;
      /*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;
      /*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      /*最前面に*/
      width: 50%;
      /*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 330px;
      /*最大幅（調整してください）*/
      height: 100%;
      background: #fff;
      /*背景色*/
      transition: 0.3s ease-in-out;
      /*滑らかに表示*/
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
      /*右に隠しておく*/
    }
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;
      /*カバーを表示*/
      opacity: 0.5;
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      /*中身を表示*/
      box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

    &-contents {
      padding: 0;
      list-style-type: none;
      font-size: 25px;
      text-align: center;

      &-bottom,
      &-top {
        text-align: center;

        li {
          margin: 24px 0;
        }
      }
    }

    &-item {
      text-decoration: none;
      color: #000000;
    }
  }
}

.footer {
  @include pc {
    &-inner {
      width: 100%;
      &-topwrap {
        display: flex;
        background-color: #dddddd;
      }
      &-bottomwrap {
        display: flex;
        height: 400px;
      }
    }

  .left-contents {
    width: 24%;
    border: solid 1px #000;
    &-graphic {
      width: 100%;
      margin: 0 auto;
      padding: 16%;
      &-img {
        width: 100%;
      }
    }
  }

  .right-contents {
    border: solid 1px #000;
    width: 76%;
    padding: 5% 3%;
    &-title {
      font-size: 0.8rem;
      font-weight: lighter;
      font-family: 'sofia';
      letter-spacing: 0.5px;
      margin-bottom: 16px;
    }
    &-body {
      font-size: 0.9rem;
      font-family: 'Helvetica';
      letter-spacing: 0.8px;
    }
  }

  .links-left {
    width: 56%;
    border: solid 1px #000;
    &-box {
        margin: 5px;
        width: 18%;
        align-items: center;
        font-size: 26px;
        color: #000000;
    }
  }

  .links-middle {
    padding: 3%;
    width: 22%;
    border: solid 1px #000;
    &-category {
      &-body {
        font-size: 1.6rem;
      }
    }
    &-box {
      list-style: none;
      &-item {
        font-weight: lighter;
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }
  }

  .links-right {
    padding: 3%;
    width: 22%;
    border: solid 1px #000;
    &-category {
      &-body {
        font-size: 1.6rem;
      }
    }
    &-box {
      list-style: none;
      &-item {
        font-weight: lighter;
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }
  }

  }

  @include sp {
    margin-top: 30px;

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-list {
        list-style: none;
        padding: 0;

        &-top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px;

          li {
            margin-top: 7px;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px;

          li {
            margin-top: 7px;
          }
        }

        &-item {
          color: #000000;
          text-decoration: none;
          font-size: 25px;
          margin-right: 22px;
        }
      }

      &-sns {
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        margin: 20px;
        width: 30%;
        align-items: center;
        font-size: 30px;
        color: #000000;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    &-copyright {
      margin: 20px;
      font-size: 5px;
    }
  }
}

.flash-success {
  background-color: #7fffd4;
  text-align: center;
  border-radius: 10px;
}

.flash-error {
  background-color: red;
  text-align: center;
  border-radius: 10px;
}
