/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}

body {
  margin: 0;
}

.header-link {
  background-color: #fff;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 2px #dcdcdc;

  &-item {
    font-size: 25px;
    text-decoration: none;
    height: 100%;
    width: 10%;
    color: #000;
    text-align: center;
    @include sp {
      padding: 10px;
      color: rgba(0,0,0,1);
      border-bottom: 1px rgba(255,255,255,1) solid;
      /*配置*/
      pointer-events: auto;
    }

    &:hover {
      background-color: #404040;
      color: #fff;
    }
  }

  &-logo {
    width: 20%;
    margin-right: auto;
    @include sp {
      width: 30%;
    }
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;

    div {
      width: 50px;
      height: 50px;
      background: #fff;
      overflow: hidden;
      position: absolute;
      right: 0;
    }

    ul {
      background: #fff;
      box-shadow: 0 3px 2px #dcdcdc;
      width: 40%;
      position: absolute;
      top: 30px;
      right: 0;
      display: none;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      padding: 10px 0;
      color: rgba(0,0,0,1);
      pointer-events: auto;
      box-shadow: -3px 3px 2px #dcdcdc;
      text-align: center;

      a {
        text-decoration: none;
        color: #000;
      }
    }

    .header-link-pulldown-open {
      color: #000;
      font-size: 40px;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      pointer-events: auto;
    }

    .header-link-pulldown-close {
      color: #000;
      font-size: 40px;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      pointer-events: auto;
    }

    &:target {
      .header-link-pulldown-open {
        display: none;
      }

      .header-link-pulldown-close {
        display: block;
      }

      ul {
        display: block;
      }
    }
  }
}
