// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

.articles {
  @include pc {
    width: 32%;
    margin: 100px;
    display: flex;
    justify-content: space-between;


  }
  @include sp {}
}

.window {
  border: solid 2px #000000;
  display: flex;
  flex-wrap: wrap;
  transition: 0.8s;
  &:hover {
    opacity: 0.7;
  }
  &-thumbnail {
    width: 100%;
  }

  &-title {
    font-size: 2.0rem;
    color: black;
    margin: 15px;
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }

  &-time {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: right;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}
