// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.member-list {
  @include flex;
  list-style-type: none;
  overflow-y: scroll;
  height: 600px;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: #ddd;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #000;
  }
  &-single {
    width: 32%;
    margin: 1%;
    &-graphic {
      &-img {
        width: 100%;
      }
    }
    &-name {
      text-align: center;
      font-size: 1.68rem;
    }
    &-text {
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.68;
    }
  }
}
