// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.member-list {
  @include flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;//Safari,Android,iOS対応
  -ms-flex-align: flex-start;//IE対応
  margin-top: 100px;
  margin-bottom: 100px;
  &-thumbnail {

  }
  &-name {

  }
  &-introduction {

  }
  &-instagram {
    
  }
}
