// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin flex($justify:space-between,$align:center) {
  display: flex;
  display: -webkit-flex;//Safari,Android,iOS対応
  display: -ms-flexbox;//IE対応
  justify-content: $justify;
  -webkit-box-pack: $justify;//Safari,Android,iOS対応
  -ms-flex-pack: $justify;//IE対応
  align-items: $align;
  -webkit-box-align: $align;//Safari,Android,iOS対応
  -ms-flex-align: $align;//IE対応
}

// variable
$basecolor: #000;//ベースカラー
$assortcolor: #fff;//アソートカラー
$accsentcolor: #dddddd;//アクセントカラー

.contents-wrapper {
  margin: 0;
  @include pc {
    .news-section {
      width: 100%;
      padding-top: 1%;
      background-color: $accsentcolor;
      border-right: solid 2px $basecolor;
      border-bottom: solid 2px $basecolor;
      border-left: solid 2px $basecolor;
      &-inner {
        margin: 5%;
        @include flex;
        &-column {
          width: 48%;
          margin-bottom: 16px;
          &-ttl {
            font-size: 4rem;
            font-weight: normal;
          }
          &-body {
            font-size: 1.6rem;
          }
        }
        &-graphic {
          width: 34%;
          &-img {
            width: 100%;
          }
        }
      }
    }

    .concept-section {
      width: 100%;
      border-right: solid 2px #000;
      border-bottom: solid 2px #000;
      border-left: solid 2px #000;
      &-inner {
        padding: 4% 8%;
        @include flex;
        &-intro {
          width: 64%;
          &-ttl {
            font-size: 4rem;
            font-weight: normal;
          }
          &-body {
            font-size: 1.6rem;
            letter-spacing: 1.6px;
          }

        }
        &-graphic {
          margin-right: 8%;
          width: 120px;
          &-img {
            width: 100%
          }
        }
      }
    }

  }
}
