// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

.contents {
  margin: 0 5%;
  @include pc {
    &-title {
      font-size: 50px;
    }

    &-collectionbox {
      display: flex;
      justify-content: space-between;

      &-image {
        width: 50%;
        margin: 50px;
      }

      &-text {
        margin: 50px;
        width: 50%;

        &-title {
          text-align: center;
          border-bottom: solid 1px #000000;
          padding-bottom: 15px;

          &-detail {
            font-weight: lighter;
            color: gray;
            font-size: 80%;
          }
        }

        &-body {
        }
      }
    }

    &-reversecollectionbox {
      display: flex;
      flex-direction: row-reverse;
    }

    &-home {
      background-image: image-url('../images/logo.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      margin-top: -22px;

      &-links {
        font-size: 20px;
      }
    }

    &-contact {
      font-size: 20px;

      &-field {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-detail {
          font-size: 12px;
          color: #696969;
        }
        input {
          width: 70%;
          height: 20px;
        }
        label {
          align-self: center;
        }
      }

      &-area {
        display: flex;
        justify-content: space-between;
        textarea {
          width: 70%;
          height: 200px;
        }
        label {
          align-self: center;
        }
      }

      &-button {
        margin: 10px;
        margin-bottom: 100px;
        text-align: center;
        input {
          width: 30%;
          height: 40px;
          font-weight: bold;
          text-decoration: none;
          background: lightgray;
          border: solid 2px #ffffff;
          border-radius: 3px;
        }
        :hover {
          background: black;
          color: white;
        }
      }
    }
  }

  @include sp {
    &-title {
      font-size: 25px;
    }
    &-collectionbox, &-reversecollectionbox {
      display: flex;
      flex-direction: column;

      &-image {
        width: 80%;
        align-self: center;
      }

      &-text {
        &-title {
          text-align: center;
          border-bottom: solid 1px #000000;
          padding-bottom: 5px;

          &-detail {
            font-weight: lighter;
            color: gray;
            margin: 5px;
            font-size: 80%;
          }
        }

        &-body {
          text-align: left;
          margin: 5% 10%;
        }
      }
    }
    &-contact {
      font-size: 20px;

      &-field {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-detail {
          font-size: 10px;
          color: #696969;
        }
        input {
          width: 70%;
          height: 20px;
        }
        label {
          align-self: center;
        }
      }

      &-area {
        display: flex;
        justify-content: space-between;
        textarea {
          width: 70%;
          height: 200px;
        }
        label {
          align-self: center;
        }
      }

      &-button {
        margin: 10px;
        margin-bottom: 100px;
        text-align: center;
        input {
          width: 30%;
          height: 40px;
          font-weight: bold;
          text-decoration: none;
          background: lightgray;
          border: solid 2px #ffffff;
          border-radius: 3px;
        }
        :hover {
          background: black;
          color: white;
        }
      }
    }
  }
}

.home {
  @include pc {
    margin-left: 10%;
    margin-right: 10%;
    &-discription {
      margin-top: 150px;
      text-align: center;
    }
    &-about {

    }
    &-members {
      &-container {
        display: flex;
        justify-content: space-around;
        &-content {
          display: flex;
          flex-direction: column;
          &-name {
            text-align: center;
            font-size: 30px;
          }
          &-position {
            text-align: center;
            font-size: 20px;
          }
          &-introduction {
            font-size: 20px;
            border-top: solid 1px black;
            margin-top: 15px;
            padding-top: 15px;
          }
        }
      }
    }
  }
}
